dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/setup-config
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/build/libHSstu-0.1.0.0-inplace-ghc9.2.2.dylib
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/build/libHSstu-0.1.0.0-inplace.a
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/build/MyLib.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/build/MyLib.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/build/MyLib.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/build/MyLib.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/build/autogen/cabal_macros.h
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/build/autogen/Paths_stu.hs
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/cache/build
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/cache/config
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/cache/registration
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/package.conf.inplace/package.cache.lock
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/setup-config
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/autogen/cabal_macros.h
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/autogen/Paths_stu.hs
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Analysis.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Analysis.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Analysis.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Analysis.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/AST.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/AST.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/AST.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/AST.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/CodeGen.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/CodeGen.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/CodeGen.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/CodeGen.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Main.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Main.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Main.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Main.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Parser.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Parser.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Parser.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Parser.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Types.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Types.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Types.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Types.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Types.p_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/build/stu/stu-tmp/Types.p_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/cache/build
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/cache/config
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/cache/registration
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/setup-config
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/autogen/cabal_macros.h
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/autogen/Paths_stu.hs
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Analysis.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Analysis.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Analysis.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Analysis.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Analysis.p_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Analysis.p_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/AST.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/AST.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/AST.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/AST.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/AST.p_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/AST.p_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/CodeGen.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/CodeGen.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/CodeGen.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/CodeGen.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/CodeGen.p_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/CodeGen.p_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Main.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Main.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Main.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Main.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Main.p_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Main.p_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Parser.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Parser.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Parser.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Parser.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Parser.p_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Parser.p_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Types.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Types.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Types.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Types.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Types.p_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/build/stu/stu-tmp/Types.p_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/cache/build
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/cache/config
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/cache/registration
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/noopt/package.conf.inplace/package.cache.lock
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/setup-config
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/autogen/cabal_macros.h
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/autogen/Paths_stu.hs
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Analysis.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Analysis.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Analysis.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Analysis.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/AST.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/AST.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/AST.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/AST.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/CodeGen.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/CodeGen.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/CodeGen.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/CodeGen.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Main.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Main.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Main.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Main.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Parser.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Parser.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Parser.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Parser.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Types.dyn_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Types.dyn_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Types.hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Types.o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Types.p_hi
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/build/stu/stu-tmp/Types.p_o
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/cache/build
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/cache/config
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/cache/registration
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/opt/package.conf.inplace/package.cache.lock
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-osx/ghc-9.2.2/stu-0.1.0.0/x/stu/package.conf.inplace/package.cache.lock
dist-newstyle/cache/compiler
dist-newstyle/cache/config
dist-newstyle/cache/elaborated-plan
dist-newstyle/cache/improved-plan
dist-newstyle/cache/plan.json
dist-newstyle/cache/solver-plan
dist-newstyle/cache/source-hashes
dist-newstyle/cache/up-to-date
dist-newstyle/packagedb/ghc-9.2.2/package.cache
dist-newstyle/packagedb/ghc-9.2.2/package.cache.lock
dist-newstyle/packagedb/ghc-9.2.2/stu-0.1.0.0-inplace.conf
dist-newstyle/sdist/stu-0.1.0.0.tar.gz
examples/data_munge.ipynb
examples/poetry.lock
examples/pyproject.toml
examples/radon_fit
examples/radon_fit.nc
examples/Radon.ipynb
examples/test.py
examples/test.stu
cabal.project.local~
cabal.project.local
examples/eight_schools.py
examples/eight_schools.stu
examples/pathfinder.stu
examples/__pycache__/eight_schools.cpython-39.pyc
